services:
  client:
    container_name: client
    build:
      dockerfile: ./apps/client/Dockerfile
    ports:
      - 5001:80

  server:
    container_name: server
    build:
      dockerfile: ./apps/server/Dockerfile
    ports:
      - 5002:5002
